<ngb-carousel class="containerSlider" [interval]="4000">
  <ng-template ngbSlide *ngFor="let image of images;let i = index" class="ContainerForDivs carousel-item">
    <div class="containerForImage">
      <img class="imageSlider" [src]="image" alt="slide...">
    </div>
    <div class="carousel-caption d-flex flex-column align-items-center justify justify-content-start p-3  ">
      <div class=" text-center ">
        <h1 class="Title m-2">Welcome To Novod Blog</h1>
        <h2 class="m-2"></h2>
      </div>
    </div>
  </ng-template>
</ngb-carousel>
