<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport 
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]   =  "(isHandset$ | async) ? 'over' : 'side'"
      position="end">
    <mat-toolbar >Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink = "">Home page</a>
      <a mat-list-item routerLink = "/content">Content page</a>
      <a mat-list-item routerLink = "/about">About</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="navBar ">
    <div class="w-100 d-flex justify-content-between UpToolbar">
      <div class="d-flex p-2">
        <img class="imgPhone" src="https://img.icons8.com/material/480/phone--v1.png" />
        <p>+380(93)-519-05-29</p>
      </div>
      <div class="d-flex p-2">
        <a class="icons"><img class="iconUptoolbar" src="https://img.icons8.com/plasticine/2x/facebook-new.png"  /></a>
        <a class="icons"><img class="iconUptoolbar" src="https://i.ya-webdesign.com/images/instagram-logo-transparent-background-png-5.png"/></a>
      </div>
     </div>
    <mat-toolbar class="d-flex justify-content-between Toolbar p-2 " >
        <div class="">
          <a href="#" class="h1 Title">Novod Blog</a>
        </div>
        <div class="d-flex  p-2" *ngIf="!(isHandset$ | async); else MenuForMobile">
          <ul class="list-inline align-items-center m-0 ">
            <li class="list-inline-item "><a class="Links" routerLink="">Home page</a></li>
            <li class="list-inline-item "><a class="Links" routerLink="/content">Content page</a></li>
            <li class="list-inline-item "><a class="Links" routerLink="/about">About</a></li>
          </ul>
        </div>
        <ng-template #MenuForMobile>
          <button type="button"
                  aria-label="Toggle sidenav"
                  mat-icon-button
                  (click)="drawer.toggle()"
                  *ngIf="isHandset$ | async">
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
          </button>
        </ng-template>
    </mat-toolbar>
    <ng-content></ng-content>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
