.container-fluid {
  margin: auto;
  min-height: 70vh;
  

  a {
    color: #000;
    text-decoration: none;
  }

  .Blogs {
    max-width: 1140px;

    &:hover {
      opacity: 0.8;
      transition: 1s;
    }
  }

  .MainBlogImage {
    width: 100%;
    height: 40vh;
  }

  .Title {
    font-size: 2.5rem;
    font-family: 'Courgette', cursive;
  }
}
