.Blog {
  min-height: 70vh;
  margin: auto;
  max-width: 1140px;

  form {
    min-width: 50%;
  }

  a {
    color: #000;
    text-decoration: none;
  }

  .Title {
    font-size: 2.5rem;
    font-family: 'Courgette', cursive;
  }

  .Blogs {
    max-width: 1140px;

    &:hover {
      opacity: 0.8;
      transition: 1s;
    }
  }

  .MainBlogImage {
    width: 100%;
    max-height: 10vh;
  }
}
