<div class="Blog  d-flex flex-column align-items-center  justify-content-center">
  <form [formGroup]="myForm" novalidate class=" p-3 shadow  bg-white rounded">
    <div class="form-group">
      <div class="alert alert-success" role="alert" *ngIf="done">
        Успішно
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="serverError">
        {{serverError}}
      </div>
      <div>
        <h1>Add article</h1>
      </div>
      <label>Title</label>
      <input type="text" required class="form-control" name="" formControlName="Title" />
      <div class="alert alert-danger"
           *ngIf="myForm.controls['Title'].invalid && myForm.controls['Title'].touched">
        Pls change TITLE before save!
      </div>
    </div>
    <div class="form-group">
      <label>Text</label>
      <textarea type="text" required class="form-control" formControlName="Text"></textarea>
      <div class="alert alert-danger"
           *ngIf="myForm.controls['Text'].invalid && myForm.controls['Text'].touched">
        Pls change TEXT before save!
      </div>
    </div>
    <div class="form-group">
      <label>Sub title</label>
      <textarea type="text" required class="form-control" formControlName="subText"></textarea>
      <div class="alert alert-danger"
           *ngIf="myForm.controls['subText'].invalid && myForm.controls['subText'].touched">
        Pls change subTitle before save!
      </div>
    </div>
    <div class="form-group">
      <label>Image URL</label>
      <input type="text" required class="form-control" formControlName="imgSource" />
      <div class="alert alert-danger"
           *ngIf="myForm.controls['imgSource'].invalid && myForm.controls['imgSource'].touched">
        Pls change IMGSource before save!
      </div>
    </div>
    <div class="d-flex justify-content-between">
      <button type="button" (click)="save()" class="btn btn-success">Save</button>
    </div>
  </form>
  <div class="d-flex flex-wrap justify-content-center p-1 m-1 ">
    <div class="Blogs col-md-12 card m-2 shadow p-3 mb-5 bg-white rounded" *ngFor="let article of articles">
      <a [routerLink]="['content/item' , article.id ]">
        <div>
          <img class="MainBlogImage" src="{{article.imgSource}}" alt="">
          <p class="h3 Title">{{article.title}}</p><br />
          <p>{{article.subText}}</p>
          <button type="button" (click)="delete(article.id)" class="btn btn-danger">Delete</button>
        </div>
      </a>
    </div>
  </div>    
</div>

