<div class="Blog d-flex align-items-center justify-content-center ">
  <div  class="login shadow p-3 mb-5 bg-white rounded">
    <div class="login-triangle">
      <h2 class="login-header">Log in</h2>
      <form [formGroup]="myForm" novalidate class="example-form " (ngSubmit)="login()">
        <mat-form-field class="example-full-width">
          <mat-label>Login</mat-label>
          <input matInput class="form-control" name="login" formControlName="login">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Password</mat-label>
          <input matInput type="password" class="form-control" name="password" formControlName="password">
        </mat-form-field>
        <button class="LoginBtn" [disabled]="!myForm.valid">login</button>
      </form>
      <div class="alert alert-danger" role="alert" *ngIf="serverError">
        {{serverError}}
      </div>
    </div>
  </div>
</div>


