  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="d-flex flex-column">
        <div class="FlexItem p-2">
            <h6>About</h6>
        </div>
        <div class="FlexItem p-2">
            <p class="text-justify">Novod.com Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias non, asperiores labore vel exercitationem enim laboriosam quis inventore eaque similique accusantium cupiditate iure expedita qui! Optio debitis molestiae rerum eveniet..</p>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by 
                <a href="#">Novod</a>.
          </p>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 ">
          <ul class="social-icons ">
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter"  href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
</footer>