a {
  text-decoration: none;
  color: #fff;
  :hover {
    color: darken($color: #fff, $amount: 15%);
    transition: 0.3s;
  }
}

.site-footer {
  background-color: #26272b;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}


@media (max-width:767px) {
  .site-footer {
    padding-bottom: 0
  }

  .site-footer .copyright-text, .site-footer .social-icons {
    text-align: center
  }
}
